/* el @import es para llamar a otras hojas de estilo*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@700&family=Work+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.contenedor, body .encabezado h2 {
  color: #fff; }

body {
  background-color: #24292E;
  /* Primer intro - texto y cta */
  /* galeria - titulo */
  /* fotos */
  /* token.html */
  /* explorar-html*/ }
  body .card-text {
    font-size: 1.5rem; }
  body .card-title {
    font-size: 3rem; }
  body .fondo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    body .fondo h5 {
      color: #2484ce; }
    body .fondo .card {
      margin: 3rem;
      padding: 1rem; }
    body .fondo .card-body .card-title {
      margin-bottom: 1rem; }
    body .fondo .card-body a {
      font-size: 1rem;
      margin-top: 2rem;
      display: flex;
      align-items: center; }
  body .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 4rem;
    padding-right: 4rem; }
    body .encabezado h2 {
      font-size: 1rem; }
  body .cartas {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-around; }
    body .cartas .card-body {
      display: flex;
      align-items: left;
      flex-direction: column; }
  body .intro2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem; }
    body .intro2 img {
      width: 683px;
      height: 608px; }
  body footer .pietext {
    font-size: 2rem; }
  body footer .redes {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  body footer .pie2 {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  body .inputtt {
    color: #fff;
    display: flex;
    justify-content: center; }
  body .intro-2 {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
  body .intro-3 {
    padding: 8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
  body .suscripcion {
    display: flex;
    align-items: center;
    justify-content: center; }
  body .productos h2 {
    margin-left: 5rem; }
  body .productos .fotis {
    margin: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; }
    body .productos .fotis .card {
      margin: 2rem; }
