    @import "menu";
    @import "mapa.scss";
    /* el @import es para llamar a otras hojas de estilo*/
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@700&family=Work+Sans:wght@400;700&display=swap');
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    @mixin flex($alg,
    $jus,
    $wrap) {
        display: flex;
        align-items: $alg;
        justify-content: $jus;
        flex-wrap: $wrap;
    }
    
    .contenedor {
        color: #fff;
    }
    
    body {
        background-color: #24292E;
        /* Primer intro - texto y cta */
        .card-text {
            font-size: 1.5rem;
        }
        .card-title {
            font-size: 3rem;
        }
        .fondo {
            @include flex(center,
            space-around,
            wrap);
            h5 {
                color: $color1;
            }
            .card {
                margin: 3rem;
                padding: 1rem;
            }
            .card-body {
                .card-title {
                    margin-bottom: 1rem;
                }
                a {
                    font-size: 1rem;
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
        /* galeria - titulo */
        .encabezado {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 4rem;
            margin-right: 2rem;
            margin-left: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            h2 {
                @extend .contenedor;
                font-size: 1rem;
            }
        }
        /* fotos */
        .cartas {
            display: flex;
            flex-wrap: wrap;
            align-items: left;
            justify-content: space-around;
            .card-body {
                display: flex;
                align-items: left;
                flex-direction: column;
            }
        }
        .intro2 {
            @include flex(center,
            space-around,
            wrap);
            padding: 4rem;
            img {
                width: 683px;
                height: 608px;
            }
        }
        footer {
            .pietext {
                font-size: 2rem;
            }
            .redes {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .pie2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        /* token.html */
        .inputtt {
            color: #fff;
            display: flex;
            justify-content: center;
        }
        .intro-2 {
            padding: 1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        .intro-3 {
            padding: 8rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        .suscripcion {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /* explorar-html*/
        .productos {
            h2 {
                margin-left: 5rem;
            }
            .fotis {
                margin: 4rem;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-around;
                .card {
                    margin: 2rem;
                }
            }
        }
    }